.lw { font-size: 15px; }
body {
  background-color: #000000;
}

.M {
  background-color: red;
}


h1 {
  color: white;
  text-align: center;
  
}

h2{
  font-family: verdana;
  font-size: 30px;
   text-align: center;
  color: #F5F5F5;
;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
    overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
   
 
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
 
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.s {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  
}


button{
  color: #d11313;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.c{

  background-color: #F5F5F5;
  width: 50%;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left:auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.n{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.a{
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.y{
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}


.submit{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
 
}